# General grib settings
grib:
  filepattern: not_defined
  offset: 0
  file_inc: 3600
  fcint: 10800
  interpolator: nearest

# Orography
ZS:
  grib:
    converter:
      none:
        parameter: -1
        type: sfc
        level: 0
        tri: 0
      phi2m:
        phi:
          parameter: 6
          type: sfc
          level: 0
          tri: 0

# Reference height Z
ZREF:
  ml:
    grib:
      converter:
        none:
          parameter: -1
          type: sfc
          level: 0
          tri: 0
# Reference height U
UREF:
  ml:
    grib:
      converter:
        none:
          parameter: -1
          type: sfc
          level: 0
          tri: 0

# Temperature
TA:
  ml:
    grib:
      converter:
        none:
          parameter: 11
          type: ml
          #level: @ML@
          tri: 0

# Specific humidity
QA:
  ml:
    grib:
      converter:
        none:
          parameter: 51
          type: ml
          #level: @ML@
          tri: 0
        rh2q:
          rh:
            parameter: 52
            type: ml
            #level: @ML@
            tri: 0
          t:
            parameter: 11
            type: ml
            #level: @ML@
            tri: 0
          p:
            parameter: 1
            type: ml
            #level: @ML@
            tri: 0

# Wind speed
WIND:
  ml:
    grib:
      converter:
        windspeed:
          x:
            parameter: 33
            type: ml
            #level: @ML@
            tri: 0
          y:
            parameter: 34
            type: ml
            #level: @ML@
            tri: 0

# Wind direction
WIND_DIR:
  ml:
    grib:
      converter:
        winddir:
          x:
            parameter: 33
            type: ml
            #level: @ML@
            tri: 0
          y:
            parameter: 34
            type: ml
            #level: @ML@
            tri: 0

# Rainfall rate
RAIN:
  grib:
    converter:
      totalprec:
        totalprec:
          parameter: 181
          type: sfc
          level: 0
          tri: 4
          instant: 3600.
        snow:
          parameter: 184
          type: sfc
          level: 0
          tri: 4
          instant: 3600.


# Snow fall amount rate
SNOW:
  grib:
    converter:
      none:
        parameter: 184
        type: sfc
        level: 0
        tri: 4
        instant: 3600.

# Surface air pressure
PS:
  grib:
    converter:
      none:
        parameter: 1
        type: sfc
        level: 0
        tri: 0

# Direct shortwave radiation
DIR_SW:
  grib:
    converter:
      none:
        parameter: 117
        type: sfc
        level: 0
        tri: 4

# Direct scattered radiation
SCA_SW:
  grib:
    converter:
      none:
        parameter: 14
        type: sfc
        level: 0
        tri: 0

# Long wave radiation
LW:
  grib:
    converter:
      none:
        parameter: 115
        type: sfc
        level: 0
        tri: 4

# Carbon dioxide
CO2:
  grib:
    converter:
      none:
        parameter: -1
        type: sfc
        level: 0
        tri: 0
  constant:
    value: 0.00062
